<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/main.css')}}"
    />
    <!-- Montserrat font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <title>News Extraction</title>
  </head>

  <body>
    <nav class="nav-bar">
      <ul class="links-for-nav">
        {% for label, link in categories.items() %}
        <li><a href="http://localhost:5000/{{link}}" class="nav-links">{{label}}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <div id="news-container">
      {% for i in range(news_length) %}
      <div class="container">
        <div class="card">
          <div class="img-container">
            <img src="{{data[4][i]}}" class="card-img-top" />
          </div>
          <div class="card-content">
            <h3
              class="card-title card-content-padding card-content-top-padding card-content-no-margin"
            >
              <a href="{{data[3][i]}}" target="_blank">{{data[0][i]}}</a>
            </h3>
            <p
              class="card-body card-content-padding card-content-no-margin card-content-top-padding"
            >
              {{data[2][i]}}
            </p>
            <div class="card-footer">
              <h6
                class="card-author foot-content card-content-padding card-content-no-margin card-content-top-padding"
              >
                Author - {{data[1][i]}}
              </h6>
              <h6
                class="card-keyword foot-content card-content-padding card-content-no-margin card-content-top-padding"
              >
                Keyword - {{data[5][i]}}
              </h6>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
